
nav{
    background-color: white;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 300px;
}


nav a{
    color: black;
    font-size: 22px;
    font-weight: 400;
}

nav .logout span{
    margin-right: 10px;
}
nav .logout button{
    border: 2px solid var(--primary);
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    color: var(--primary);
    padding: 8px 30px;
    font-size: 16px;
    font-weight: 400;

}
nav .auth{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
nav .auth a{
    color: black;
    font-size: 22px;
    font-weight: 300;
}

